
<footer class="spacer-y-3 bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-3 mb-3 mb-md-0">
        <h5 class="text-white">Products &amp; Services</h5>
        <ul class="list-unstyled">
          <li class="py-0 py-md-1"><a href="#" class="text-white">Doormouse</a></li>
          <li class="py-0 py-md-1"><a href="#" class="text-white">Indiid</a></li>
          <li class="py-0 py-md-1"><a href="#" class="text-white">Shibboleth</a></li>
          <li class="py-0 py-md-1"><a href="#" class="text-white">OpenLDAP</a></li>
        </ul>
      </div>
      <div class="col-6 col-md-3 mb-3 mb-md-0">
        <h5 class="text-white">Company</h5>
        <ul class="list-unstyled">
          <li class="py-0 py-md-1"><a href="#" class="text-white">About us</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-3 mb-3 mb-md-0">
        <h5 class="text-white">Help &amp; Support</h5>
        <ul class="list-unstyled">
          <li class="py-0 py-md-1"><a href="#" class="text-white">Contact us</a></li>
          <!-- <li class="py-0 py-md-1"><a href="#" class="text-white">FAQs</a></li> -->
        </ul>
      </div>
      <div class="col-12 col-md-3">
        <ul class="list-social-links">
          <li class="text-white"><a href="https://twitter.com/mimotoltd/"><i class="socicon-twitter"></i></a></li>
          <li class="text-white"><a href="https://www.linkedin.com/company/mimoto/about"><i class="socicon-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row mt-3 mt-md-4">
      <div class="col">
        <span class="text-small text-white opacity-50">&copy; 2019 Mimoto Ltd (Registered in England and Wales No. 10467797)</span>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <ul class="list-unstyled d-flex list-pipe-separator">
          <li><a href="/privacy/" class="text-white text-small">Privacy Policy</a></li>
          <li><a href="#" class="text-white text-small">Terms and Conditions</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
