<section class="bg-white">
    <div class="container">
        <div class="row align-items-center text-center">

            <div class="col-lg-4  mb-3 mb-lg-0">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center">
                            <a href="https://www.manchesterdigital.com/">
                                <img src="/assets/images/man_dig.png" alt="Manchester Digital Logo" class="mnci"
                                     title="Manchester Digital Member">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4  mb-3 mb-lg-0">
                <div class="card ">
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center">
                            <a href="https://www.ukfederation.org.uk/">
                                <img src="/assets/images/ukamf.png" alt="UKAMF Logo" class="mnci"
                                     title="Member of UK Access Management Federation">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-3 mb-lg-0">
                <div class="card ">
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center">
                            <a href="https://idpro.org/members/">
                                <img src="/assets/images/idpro.png" alt="ID Pro Logo" class="mnci"
                                     title="Member of ID Pro">
                            </a>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="row align-items-center text-center">

            <div class="col-lg-4  mb-3 mb-lg-0">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center">
                            <a href="https://www.nwcsc.org.uk/all-our-members/">
                                <img src="/assets/images/nwcsc.png" alt="NWCSC Logo" class="mnci"
                                     title="Member of North West CyberSecurity Cluster">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4  mb-3 mb-lg-0">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center">
                            <a href="https://www.alt.ac.uk/membership/organisational-member-list">
                                <img src="/assets/images/alt_member.png" alt="ALT Logo" class="mnci"
                                     title="Member of The Association For Learning Technology">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-3 mb-lg-0">
                <div class="card ">
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center">
                            <a href="https://www.livingwage.org.uk/living-wage-employers">
                                <img src="/assets/images/lw_emp.png" alt="Living Wage Logo" class="mnci"
                                     title="Living Wage Employer">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-3 mb-lg-0">
                <div class="card ">
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center">
                            <iframe src="https://registry.blockmarktech.com/certificates/e3d17ce8-f66f-4b9d-8704-9f5e2f2762d9/widget/?tooltip_position=corner&theme=transparent" style="border: none; height:132px; width:132px;"></iframe>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
