


.doc_article {
/*    background-color: whitesmoke;*/
    background-color: white;
    padding: 2em;
}

.captioned_image {
/*	border: 1px solid #ccc;*/
/*	padding: 2px;
	display: flex;
	background-color: white;
	flex-direction: row;
}*/
/*img {
	width: 100%;
	height: auto;
}*/
/*figcaption {
	padding-left: 10px;
}*/

#headline_block {
	background-image: url("/assets/images/strip_wall.jpg");
	background-repeat: no-repeat;
	background-position: center;
	height: 435px;
	background-size: contain;

}

#headline_block h1 {
	background: rgba(255,255,255,0.5);
	line-height: 2em;
}

#about_team {

}

#about_team p {
	display: table;
}

#about_team img {
	width: 256px;
	float: left;
	margin: 0px;

}

