---
layout: default
---

{% assign author = site.data.authors[page.author] %}

<section class="bg-white pt-3">
    <div class="container">
        <div class="row mb-5 justify-content-between align-items-center">
            <div class="col-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb p-0 bg-transparent mb-0">
                        <li class="breadcrumb-item">
                            <a href="/blog/">Blog</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">{{ page.category }}</a>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row justify-content-center text-center mb-3">
            <div class="col-md-11 col-lg-10 col-xl-9">
                <div class="my-3">
                    <h1>{{ page.title }}</h1>
                    <div class="d-flex align-items-center justify-content-center">
                        <span><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time> in&nbsp;</span>
                        <a href="#" class="mr-2">{{ page.categories }}</a>
                        <div class="d-flex">
                            <img src="{{author.avatar}}" alt="{{author.name}}" class="avatar avatar-sm mr-1">
                            <span class="text-small">by {{author.name}}</span>
                        </div>
                    </div>
                </div>
                <span class="lead">{{ page.summary }}</span>
            </div>
        </div>
    </div>
</section>

<section class="pt-0 mt-minus-3">
    <div class="container">
        <div class="row justify-content-center mb-4 mb-md-5">
            <div class="col-xl-10">
                <!-- <img src="assets/img/wide-large-3.jpg" alt="Image" class="rounded shadow-lg"> -->
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
                <article class="lead">
                    {{ content }}
                </article>
            </div>
        </div>
    </div>
</section>
